@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;
}

section {
    padding-inline: 2rem;
    margin-top: min(20vh, 10rem);
    gap: min(14vh, 8rem);
}

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

    /* Utility Classes */

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-block {
    color: var(--dark-grayish-blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 40rem;
}

.text-block > h2 {
    font-size: 1.9rem;
}

.text-block > h3 {
    font-size: 1.4rem;
}

.text-block > p {
    opacity: .6;
}

sub-2 {
    font-size: 1.8rem;
}

    /* Main */

.main-container {
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    justify-content: center;
    align-content: flex-end;
    min-height: 31rem;
    padding-inline: 0;
    margin-top: 0;
}

.main {
    justify-content: center;
    gap: 3rem;
    text-align: center;
    max-width: 35rem;
}

.title {
    font-size: 2.2rem;
    font-weight: 600;
}

.download-options {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: .8rem 2rem;
    border: none;
    color: #fff;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 600;
    font-size: .9rem;
    border-bottom: solid 3px #00000033;
    transition: opacity .3s;
}

.ios {
    background-color: var(--strong-cyan);
}

.mac {
    background-color: var(--light-blue);
}

.btn:hover {
    opacity: .8;
}

    /* Snippets */

.snippets-title {
    font-size: 1.8rem;
}

.snippets-computer {
    flex-direction: row;
    width: 100%;
    gap: min(4rem, 4vw);
}

.computer {
    position: relative;
    left: calc(10vw - 210px);
    width: min(60vw, 100%);
}

.snippets {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    width: 100%;
}

.snippet {
    text-align: left;
    max-width: none;
    gap: .5rem;
    max-width: 22rem;
}

.snippet > h3 {
    font-size: 1.4rem;
}

    /* Clipboards */

.devices {
    width: min(60vw, 100%);
}

    /* Supercharge */

.supercharge-features {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.supercharge-feature {
    max-width: 22rem;
    gap: 2rem;
}

    /* Enterprices brands */

.brands-sect {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10rem;
    gap: 8rem;
}

    /* Footer */
.footer {
    min-height: 9rem;
    background-color: hsl(200, 23%, 92%);
    margin-top: min(20vh, 10rem);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline: 10vw;
}

.logo-links-container {
    flex-direction: row;
    gap: max(4rem, 10vw);
    flex-wrap: wrap;
    flex-basis: 70%;
}

.logo-footer {
    width: 3.3rem;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, 8rem);
    list-style: none;
    gap: 1rem 3rem;
    height: 50%;
    width: calc(100% - 52.8px - max(4rem, 10vw));
}

.link {
    align-self: center;
}

.link > a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    transition: color .2s;
}

.social-media-icons {
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
}


.social-media-icons > a {
    height: auto;
    transition: color .2s;
}

.social-media-icons > a > svg > path {
    transition: fill .2s;
}

.link > a:hover {
    color: var(--strong-cyan);
}

.social-media-icons > a > svg:hover path{
    fill: var(--strong-cyan);
}

/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

@media screen and (max-width: 950px) {

    .snippets-computer {
        flex-direction: column;
        gap: 4rem;
    }

    .computer, .devices {
        left: 0;
        min-width: 300px;
    }

    .snippets {
        justify-content: center;
    }

    .snippet {
        text-align: center;
    }

    .brands-sect {
        gap: 4rem;
    }
}